[branch "master"]
  remote = origin
  merge = refs/heads/master
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = white bold
[user]
  email = jamison@lahman.dev
  name = Jamison Lahman
[push]
  default = current
[fetch]
  prune = true
[pull]
  rebase = true
[rebase]
  autostash = true
[lfs]
  locksverify = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = master
[core]
  hooksPath = /home/jamison/.githooks
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[delta]
  side-by-side = true
  syntax-theme = Coldark-Dark
  hyperlinks = true
  wrap-max-lines = 0
  blame-palette = "#000000 #111111 #222222"
  file-style = omit
  hunk-header-style = file syntax
  hunk-header-decoration-style = ul blue
[difftool]
  prompt = false
[diff]
  tool = kitty
[difftool "kitty"]
  cmd = kitty +kitten diff \"$LOCAL\" \"$REMOTE\"
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
