*
!/lint
!/dot-sync
!/.bashrc
!/.backgrounds/
!/.config/beets/config.yaml
!/.config/cosmic/com.system76.CosmicSettings.Shortcuts/
!/.config/nvim/
!/.config/systemd/user/dot-sync.service
!/.config/systemd/user/dot-sync.timer
!/.face
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.pre-commit-config.yaml
!/.ripgreprc
!/.pylintrc
!/.vimrc
!README.md
