*
!/lint
!/dot-sync
!/swap.sh
!/.aider.conf.yml
!/.arch.conf
!/.bashrc
!/.bash_profile
!/.backgrounds/
!/.bazelrc
!/.config/beets/config.yaml
!/.config/docker/daemon.json
!/.config/htop/htoprc
!/.config/kitty/
!/.config/mimeapps.list
!/.config/nvim/
/.config/nvim/lazy-lock.json
!/.config/pip/pip.conf
!/.config/systemd/user/dot-sync.service
!/.config/systemd/user/dot-sync.timer
!/.config/sway/
!/.config/uv/uv.toml
!/.config/waybar/
!/.face
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.githooks
!/.local/bin/window-screenshot
!/.local/share/applications/
!/.mozilla/firefox/jamison.default/user.js
!/.mozilla/firefox/jamison.default/userChrome.css
!/.ripgreprc
!/.ruff.toml
!/.themes/
!/.vimrc
!/.zshrc
!README.md
