*
!/lint
!/dot-sync
!/.bashrc
!/.bash_profile
!/.backgrounds/
!/.config/beets/config.yaml
!/.config/cosmic/com.system76.CosmicAppletTime/
!/.config/cosmic/com.system76.CosmicBackground/
!/.config/cosmic/com.system76.CosmicComp/
!/.config/cosmic/com.system76.CosmicNotifications/v1/do_not_disturb
!/.config/cosmic/com.system76.CosmicPanel/
!/.config/cosmic/com.system76.CosmicPanel.Panel/
!/.config/cosmic/com.system76.CosmicTheme.Dark/
!/.config/cosmic/com.system76.CosmicSettings.Shortcuts/
!/.config/konsolerc
!/.config/nvim/
!/.config/systemd/user/dot-sync.service
!/.config/systemd/user/dot-sync.timer
!/.face
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.mozilla/firefox/jamison.default/user.js
!/.mozilla/firefox/jamison.default/userChrome.css
!/.pre-commit-config.yaml
!/.ripgreprc
!/.pylintrc
!/.vimrc
!README.md
